/* Layout  */
.layout{
    display: grid;
    grid-template-columns: 0fr auto;
    grid-auto-flow: column; 
    column-gap: 0px;
}

#right-section{
    overflow-y: scroll;
    height: 100vh;
}

/* header  */
header{
    background-color: black;
    display: flex;
    width: 66vw;
    margin: 10px auto 10px auto;
    border-radius: 12px;
    padding: 15px 12px;
}

header #left-header{
    color: white;
    display: flex;
    width: fit-content;
    margin: auto 15px;
    cursor: pointer;

}
header #left-header img, .down-arrow{
    margin: auto 10px;
    width: 15px;
}
.down-arrow{
    filter: invert(1);
}

header #right-header{
    width: fit-content;
    margin: 0px 20px 0px auto;
    display: flex;
    
}

header #right-header img{
    width: 20px;
    margin: 5px;
    cursor: pointer;
}


header #right-header button{
    border: 2px solid #867C5B;
    border-radius: 30px;
    color: white;
    white-space: nowrap;
    padding: 6px 22px;
    margin: 0px 12px;
}

/* left nav  */

#left-nav{
    background-color: white;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 3.5px solid #0000001A;
    white-space: nowrap;

}

#left-nav #profile-name{
    border-top: 2.8px solid transparent;
    border-bottom: 2.8px solid transparent;
    border-image: linear-gradient(to left, #ECECEC, #0000007e, #ECECEC) 1;
    padding: 10px 0px;
    justify-content: center;
    margin: 20px 0px;
    display: flex;

}

#left-nav #profile-name svg{
    margin: 0px 15px;
}
#left-nav #profile-name h1{
    margin: auto 0px;
    font-weight: 700;
}

#left-nav a, #link-left-nav-dash-bottom a{
    margin: 15px 0px;
    font-weight: 540;
    
}
#links-left-nav-dash{
    display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0px auto;
  height: 100vh;
}

#left-nav a img{
    display: inline;
    margin: auto 6px;
    height: 22px;
}

#links-left-nav-dash-bottom{
    display: flex;
    flex-direction: column;
     margin: auto auto 40px 0px;
}





